/* Form
*/
form#discount-settings-form {
    max-width: 1024px;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
    clear: both;
}

/*.sale-container-inner {
    border: 1px solid #e5e5e5!important;
    background-color: #fff;
}*/

.section-discount-content > div:after,
.section-discount-content > div:before {
    content: '';
    clear: both;
    display: table;
}

.section-discount-content > div {
    border-color: #eee;
    border-width: 1px 1px 0 0 ;
    border-style: solid;
}

.section-discount-content > div:last-child {
    border-width: 1px 1px 0 0;
    border-color: #eee;
    border-style: solid;
}

.section-discount-content > div:first-child {
    border-width: 0 1px 0 0;    
}

.temporary-sale-date > .clearfix{
    border-width: 1px 0 0 0;
    border-color: #eee;
    border-style: solid;
}


.sale-container-inner h3.section-title {
    font-weight: 600;
    border-radius: 0;
    padding: 8px 12px;
    font-size: 14px;
    border-style: solid;
    border-color: #eee;
    border-width: 1px;
    margin: 0 0 20px;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    position: relative;
}

.sale-container-inner h3.section-title.ui-accordion-header-active {
    margin: 0;
}


.sale-container-inner h3.section-title .toggle-indicator:before {
    content: "\f142";
    display: inline-block;
    font: 400 20px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
}

.sale-container-inner h3.section-title .toggle-indicator {
    position: absolute;
    top: 5px;
    right: 5px;
    left: auto;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rtl .sale-container-inner h3.section-title .toggle-indicator  {
    left: 5px;
    right: auto;
}

.sale-container-inner h3.section-title.ui-state-active .toggle-indicator {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}


.all-categories-scrolling {
    max-height: 200px;
    overflow-y: scroll;
    display: none;
    background: #ececec;
    overflow-x: hidden;
    padding: 10px 15px;
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    left: 380px;
    right:auto;
    z-index: 5;
}

.custom-img {
	max-width: 100px;
}

.sale-repeater {
    border-radius: 0;
    border-width: 0 1px 1px 1px;
    border-color: #e5e5e5;
    border-style:solid;
    margin: 0 0 30px;
}

.sale-repeater > .clearfix {
    border-width:0;
    border-color: #eee;
    border-style: solid;
    padding:0!important;
    background-color: #fff;
    margin: 0;
}

.sale-repeater:last-child:not-first {
	border-bottom: none;
	margin: 0;
}

.image-uploader {
    position: relative;
    /*max-width: 100px;*/
}

.sale-repeater> div.date-pickup,
.sale-repeater .one-category-product-sale > div {
	margin: 0 0 15px;
}

#sales-categories {
    padding: 25px 0;
    position: relative;
    max-width: 900px;
}

.dib {
	display: inline-block;
}

.row-title strong {
    display: block;
	font-size: 14px;
    padding: 0 12px;	
}

.dib.row-title {
	float: left;
    width: 36%;
    background-color: #F9F9F9;
    padding: 15px 0;
	line-height: 30px;
}

.dib.row-title.expand {
    line-height: 105px;
}

.row-content {
    float: left;
	width: 60%;
    padding: 12px 2%;
    line-height: 30px;
}

h3 .number {
	margin: 0 10px;
}

h3 .cats {
    font-weight: 600;
    margin-left: 30px;
}

.row-content input[type="text"],
.row-content input[type="date"],
.row-content input[type="number"]{
	width: 100%;
    line-height: 26px;
    padding: 0 5px;
}

.margin-btm {
	margin: 0 0 15px;
}

.section-discount-admin {
    float: left;
    position: relative;
    width: 5%;
    min-height: 235px;
}

.section-discount-content   {
	float: left;
	width:95%;
}

.section-title {
	margin: 0 0 20px;
}

button.sale-repeater-btn {
    position: absolute;
    top:-10px;
    right: 10px;
}

.remove-custom-img.button {
    display: none;
    position: absolute;
    top: 0;
    left: 80px;
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: #000;
    color: #fff;
    border-width: 1px;
    border-radius: 50%;
    border-style: solid;
    border-color: transparent;
    line-height: 12px;
}

.remove-custom-img.button:hover {
    border-color: #000;
}

.rtl .remove-custom-img.button {
    right: 80px;
    left: auto;
}

.section-discount-admin button.sale-repeater-btn,
.section-discount-admin button.delete-row {
    background: #fff!important;
    border-radius:50%!important;
    border-color: #bbb;
    border-style: solid;
    border-width: 1px ;
    color: #999!important;
    padding: 0;
    width: 25px;
    height: 25px;
    outline: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s, visible 0.3s;
    -o-transition: opacity 0.3s, visible 0.3s;
    -moz-transition: opacity 0.3s, visible 0.3s;
    transition: opacity 0.3s, visible 0.3s;
}

.section-discount-admin:hover button.sale-repeater-btn,
.section-discount-admin:hover button.delete-row {
    opacity: 1;
    visibility: visible;
}

button.sale-repeater-btn:before {
    content: "\f132";
    font-size: 17px;
    line-height: 24px;
    font-family: dashicons;
}

button.delete-row:before {
    content: "\f460";
    font-size: 17px;
    line-height: 24px;
    font-family: dashicons;
}

.delete-row  {
    position: absolute;
    top: 70px;
    right: 10px;
}

#element-0 .delete-row {
	display: none;
}

.sale-repeater-btn span.label,
.delete-row span.label{
	display: none;
}

.sale-repeater-btn span.dashicons,
.delete-row span.dashicons{
	vertical-align: middle;
}

.temporary-sale-date {
    display: none;
}

.temporary-sale-date.visible {
    display: block
}

label.b {
    display: block;
    line-height: 17px;
}


label[for="permanent-yes"] strong,
label[for="permanent-no"] strong{
    font-size: 12px;   
}

/* Rtl styles
*/

.rtl .row-content ,
.rtl .dib.row-title {
    float: right;
}

.rtl .all-categories-scrolling {
	left: auto;
    right:475px;	
}

.rtl .discount-measure .row-content label:first-child {
	margin: 0 0 0 20px;
}

.rtl .section-discount-admin{
    float: right;
}

.rtl .section-discount-content {
    float: right;
}
/**/
